<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>お見積り情報入力</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{http://fonts.googleapis.com/css?family=Exo:900}"
        href="http://fonts.googleapis.com/css?family=Exo:900"/>
  <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
</head>

<body>
<nav th:insert="header.html :: header"></nav>
<div class="container">
  <form th:action="@{/submit}" th:object="${userOrderForm}" class="form-horizontal" method="post">
    <h1>お客様情報入力</h1>
    <font size="-1" color="#ff0000">数字は半角で記入してください</font>
    <ul th:if="${#fields.hasErrors('all')}">
      <li th:each="err : ${#fields.errors('all')}" th:text="${err}"></li>
    </ul>
    <div class="col-sm-12">
      <fieldset>
        <legend>個人情報</legend>
        <div class="form-group">
          <label for="customerName_mei">姓</label>
          <input type="text" id="customerName_mei" name="customerName" style="width: 100px" th:field="*{customerName}" class="form-control" value="山田"/>
          <label for="customerName_sei">名</label>
          <input type="text" id="customerName_sei" name="customerName" style="width: 100px" th:field="*{customerName}" class="form-control" value="太郎"/>
          <label for="customerName_mei_kana">せい</label>
          <input type="text" id="customerName_mei_kana" name="customerName" style="width: 100px" th:field="*{customerName}" class="form-control" value="やまだ"/>
          <label for="customerName_sei_kana">かな</label>
          <input type="text" id="customerName_sei_kana" name="customerName" style="width: 100px" th:field="*{customerName}" class="form-control" value="たろう"/>
        </div>
        <div class="form-group">
          <label for="tel">連絡先TEL</label>
          <font size="-1" color="#ff0000">ハイフンなしで入力してください（例:080×××××××）</font>
          <input type="tel" id="tel" name="tel" th:field="*{tel}" class="form-control" value="03-1234-5678" style="width: 400px"/>
        </div>
        <div class="form-group">
          <label for="email">連絡先メールアドレス</label>
          <input type="text" id="email" name="email" th:field="*{email}" class="form-control" value="test@test.com" style="width: 600px"/>
        </div>
        <div class="form-group">
          <label for="oldPrefectureId">現在お住いの住所（都道府県）</label>
          <select id="oldPrefectureId" name="oldPrefectureId" class="form-control" style="width: 200px">
            <option th:each="prefecture : ${prefectures}" th:value="${prefecture.prefectureId}" th:field="*{oldPrefectureId}">[[${prefecture.prefectureName}]]</option>
          </select>
        </div>
        <div class="form-group">
          <label for="oldAddress">現在お住まいの住所（市区町村以下）</label>
          <input type="text" id="oldAddress" name="oldAddress" th:field="*{oldAddress}"
                 class="form-control" value="新宿区西新宿1-1-1"/>
        </div>
        <div class="form-group">
          <label for="newPrefectureId">お引越し先の住所（都道府県）</label>
          <select id="newPrefectureId" name="newPrefectureId" class="form-control" style="width: 200px">
            <option th:each="prefecture : ${prefectures}" th:value="${prefecture.prefectureId}" th:field="*{newPrefectureId}">[[${prefecture.prefectureName}]]</option>
          </select>
        </div>
        <div class="form-group">
          <label for="newAddress">お引越し先の住所（市区町村以下）</label>
          <input type="text" id="newAddress" name="newAddress" th:field="*{newAddress}" class="form-control" style="width: 600px"
                 value="札幌市南区1"/>
        </div>
      </fieldset>

      <div class="form-group">
        <div class="text-center">
          <button type="submit" name="backToTop" class="btn btn-primary">TOPへ戻る</button>
          <button type="submit" name="confirm" class="btn btn-primary">確認</button>
        </div>
      </div>
    </div>
  </form>
</div>
<script src="../js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script src="../js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>