<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<fieldset>
    <legend>荷物情報</legend>
    <div class="form-group">
        <label for="box">段ボールの個数</label>
        <input type="text" id="box" name="box" th:field="*{box}" class="form-control" value="10"/>
    </div>
    <div class="form-group">
        <label for="bed">ベッドの個数</label>
        <input type="text" id="bed" name="bed" th:field="*{bed}" class="form-control" value="3"/>
    </div>
    <div class="form-group">
        <label for="bicycle">自転車の個数</label>
        <input type="text" id="bicycle" name="bicycle" th:field="*{bicycle}" class="form-control" value="1"/>
    </div>
    <div class="form-group">
        <label for="washingMachine">洗濯機の個数</label>
        <input type="text" id="washingMachine" name="washingMachine" th:field="*{washingMachine}" class="form-control"
               value="1"/>
    </div>
    <div class="form-group">
        <label for="washingMachineInstallation">洗濯機の設置工事申し込み</label>
        <select id="washingMachineInstallation" name="washingMachineInstallation" class="form-control" th:field="*{washingMachineInstallation}">
            <option th:value="false" th:text="なし">なし</option>
            <option th:value="true" th:text="あり">あり</option>
        </select>
    </div>
</fieldset>
</body>
</html>